.form-container {
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-container .field{
  padding: 10px;
  background-color: #ededed;
}

.form-container .field label{
  font-weight: bold;
  color: #087e7c;
}

.form-container .field input[type="text"]{
  padding: 10px;
  font-size: 14px;
}

.errorText {
  font-weight: bold;
  color: #800000;
  padding: 5px;
  background-color: #fcfc4b;
}

.form-data-container {
  width: 90%;
  margin: 20px auto;
  padding: 20px;
  background-color: #e6ecf2;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-data-container .key-val{
  padding: 10px;
  background-color: #ededed;
}

.form-data-container .key{
  margin-right: 10px;
  font-weight: bold;
  color: #087e7c;
}

.form-data-container .val{
  font-style: italic;
}

.form-data-container .val.error{
  font-weight: bold;
  color: #800000;
  padding: 5px;
  background-color: #fcfc4b;
}








